body {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1em;
}

.hero {
    padding: 150px 0;
    background-image: url("images/city.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-position: center;
}

.main-header {
    background: #264653;
    padding: 5px 10px;
    border-radius: 10px;
}

.sub-header {
    background: #2a9d8f;
    padding: 5px 10px;
    border-radius: 10px;
}

.activity-section {
    background-color: #F8F5FA;
    text-shadow: 0 0 1px;
    color: #264653;
}


.activities-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.activity-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid orange;
    box-shadow: 0 6px 5px red;
}

.activity-wrapper {
    height: 400px;
}

.activity-wrapper:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.activity-title {
    text-decoration: 2px underline;
    text-underline-offset: 4px;
}

h3 {
    margin: 0;
    padding: 20px;
}

p {
    width: 400px;
}


img {
    width: 100px;
}

.guide{
    background: #47829a;
    padding: 10px;
}

.pfp{
    border-radius: 50%;
    border: 1px solid orange;
    box-shadow: 0 2px 5px red;
    width: 100px;
    height: 120px;
}

.card{
    background: #5ed4c6;
    display: flex;
    color: #1D3557;
    width: 550px;
    margin: 20px auto;
    border-radius: 10px;
    border-bottom: 6px solid #14213d;
    align-items: center;
    justify-content: space-around;
    text-shadow: 0 0 blue;
}